
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><%= link_to 'Home', welcome_index_path  %></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">CONDICIONES GENERALES PARA LA RESERVA DE ESTACIONAMIENTOS - INSTAPARKING</h1>
				</header>
				
				
				<br>
					<p>OBJETO: El presente documento recoge las condiciones generales de Estacionamientos con InstaParking y la normativa de funcionamiento del aparcamiento. La reserva de plaza de aparcamiento supone la aceptación íntegra de las presentes condiciones generales, sin que el usuario pueda reclamar fraccionamientos o precios distintos a los de las estancias reservadas. 

RESERVAS: El usuario podrá hacer una reserva de plaza de estancia en los aparcamientos de la red de InstaParking, a través de nuestra página web. Deberá proporcionar aquellos datos clave (matrícula, fecha y hora de llegada, tiempo de estancia, dirección de correo electrónica y teléfono) que el sistema le pide sin los cuales no podrá avanzar en el proceso de reserva. 
La tarifa del estacionamiento con reserva de plaza se calculará por periodos de 24 horas y/o fracción, a contar desde la fecha y hora de acceso al aparcamiento, hasta la salida del vehículo del mismo, estableciéndose un tiempo de cortesía entre 15 y 30 minutos, desde el pago de la reserva de estancia del vehículo. 
El importe mínimo de pago será el correspondiente a la estancia mínima según las condiciones del producto/aparcamiento, y el tiempo de estancia se contabilizará por días completos y fracción. 
El importe de las tarifas de estacionamiento con reserva de plaza y los tiempos de cortesía se establecerán por cada uno de los Estacionamientos de la red. 
Al realizar la reserva, el sistema le proporcionará un número de localizador. La posesión de este número confirma y garantiza su reserva. Este número será utilizado para cualquier operación. 
Es necesario realizar la reserva de plaza con un mínimo de 3 horas de antelación a la hora prevista de llegada al aparcamiento. En caso contrario la reserva no tendrá validez y el importe de la estancia se calculará según las tarifas fijadas para el estacionamiento en cada aparcamiento. 
La reserva de plazas sólo se puede efectuar para un único vehículo. Para reservar la estancia de más vehículos, deberá realizar una reserva para cada uno de ellos. 
El cliente podrá modificar la reserva realizada hasta 3 horas, introduciendo su localizador a través de la página web. Pasado este plazo, no podrá realizar modificaciones de la reserva. 
El cliente podrá imprimir un justificante de la reserva efectuada. 
GENERAL: El acceso al aparcamiento en el cual se ha realizado la reserva de plaza de aparcamiento se realizará a través de la entrada de vehículos del mismo. Para poder acceder a esta zona, el cliente deberá coger un ticket en la barrera de control de acceso. En caso de que la barrera de acceso no abriera ni emitiera el ticket, podrá comunicar con nuestro personal mediante el botón de información a través de la interfonía y le atenderemos para solucionar el problema. 
Para el abono de la tarifa de reserva de plaza de aparcamiento acreditará la fecha y hora de llegada mediante el ticket de aparcamiento que recogió en la barrera de entrada a la llegada al aparcamiento. El aparcamiento no se responsabiliza de los retrasos que pudiera sufrir el cliente, por causas ajenas al primero. 
TARIFAS: Las tarifas de estacionamiento con reserva de plaza se establecen por días completos de estancia y/o fracción, siendo la fracción mínima de 24 horas, independientemente de las horas de estancia en el aparcamiento. 
El importe de esta tarifa se establecerá por cada uno de los distintos Estacionamientos de la Red. 
Al hacer la reserva de plaza de aparcamiento, el sistema calcula el precio a abonar por la estancia que el usuario ha señalado. El sistema aplica automáticamente las tarifas vigentes para el periodo señalado en función del Estacionamiento de la Red seleccionado, considerando cualquier oferta o promoción que estuviera vigente en el momento de hacer la reserva. Las tarifas incluyen el IGV. 
Para conocer las tarifas de los distintos Estacionamientos de la Red visite nuestra página web o consulte en nuestras Oficinas de Aparcamientos. 
PAGO DE LA ESTANCIA: En caso de reserva sin pago previo, el pago del estacionamiento con reserva de plaza se realizará antes de su salida del aparcamiento, acreditándose la fecha y hora de llegada mediante el ticket de aparcamiento que recogió en la barrera de entrada a la llegada al aparcamiento, siendo la tarifa a aplicar por días completos y/o fracción, tal como queda pactado en el presente documento. Se podrá hacer en metálico o mediante tarjeta de crédito, en nuestra Oficina del Aparcamiento o en los cajeros automáticos del aparcamiento en caso de que así se indique en las instrucciones de uso de la reserva mostradas en la hoja de confirmación. Si necesita una factura hágaselo saber a nuestro personal. 
En el caso de que el cliente haya pagado previamente la estancia reservada, el cliente deberá validar su ticket de aparcamiento antes de su salida. Se podrá hacer en nuestra Oficina del Aparcamiento o en los cajeros automáticos del aparcamiento en caso de que así se indique en las instrucciones de uso de la reserva mostradas en la hoja de confirmación. En ningún caso se aceptarán cambios o devoluciones de la reserva pagada previamente, ni antes ni durante la estancia reservada. 
Si la duración de la estancia excede del tiempo reservado, se abonará el precio del tramo que exceda lo reservado según las tarifas fijadas para el estacionamiento en cada aparcamiento. 
Si la duración de la estancia es inferior a la reserva efectuada, se abonará el importe completo por el tiempo reservado, sin que proceda la reducción de dicho importe ni la devolución de la diferencia en caso de pago previo. 
En caso de estacionar en un aparcamiento que no se corresponda con el de la reserva realizada, deberá abonarse el importe íntegro de la estancia según las tarifas fijadas para el aparcamiento donde se ha aparcado. No se realizarán devoluciones sobre dicho importe. 
SEGUROS: La empresa explotadora del aparcamiento, tiene contratada una Póliza de Responsabilidad Civil General con una entidad aseguradora que cubre la responsabilidad civil por daños, sustracción o destrucción de los vehículos a motor (incluidos accesorios fijos y piezas de recambio) que se hallen en nuestro poder durante la custodia. 
Están excluidos de nuestra póliza los objetos o mercancías depositadas en el interior de los vehículos, los defectos de fábrica, las reparaciones defectuosas o daños ocultos, inapreciables debidos a falta de cuidado en la conservación del vehículo. Solo se considerarán las reparaciones por daños realmente causados al vehículo confiado en el momento de la devolución de éste. 
Después de la devolución del vehículo InstaParking no admitirá reclamación alguna. 
Las franquicias aplicables a las garantías cubiertas serán asumidas por la empresa explotadora cuando quede demostrado que la pérdida, robo, daños materiales o físicos tengan su origen en la negligencia, infracción o incumplimiento voluntario de las normas que rigen las actividades del objeto del Seguro. 
Dada la alta concentración de ondas electromagnéticas y radiofrecuencias en la zona de influencia de los aeropuertos y las estaciones, advertimos de la posibilidad de que dichas ondas interfieran en los sistemas eléctricos de su vehículo, tales como alarmas, radares, sistemas GPS, sistemas de apertura a distancia, etc. Por ello la empresa explotadora declina toda responsabilidad al ser una incidencia totalmente ajena a su control. 
OTROS: InstaParking se reserva el derecho de exigir las correspondientes responsabilidades por la utilización indebida del sistema de reservas vía WEB o por el incumplimiento de las normas recogidas en las presentes condiciones generales. 
El usuario será el único responsable en el caso de que la utilización del servicio se haga de forma defectuosa, parcial o errónea, o en caso de que alguien opere en su nombre o por su cuenta, utilizando los procedimientos y su clave de acceso. 
InstaParking se reserva el derecho de anular las claves de acceso de usuario de los que haga un mal uso en los términos previstos en este condicionado. 
InstaParking no se responsabiliza de la interrupción, inaccesibilidad o fallo de cualquier otra índole que pudiera sufrir la operativa del sistema, como consecuencia de los que puedan producirse en cualesquiera servicios de telecomunicaciones u otros accesorios ajenos a esta entidad y precisos para el funcionamiento del mismo. 
DESVÍOS: En época de alta ocupación se les podrá ofrecer a los usuarios el desvío a otro aparcamiento de categoría superior, sin coste adicional alguno para el cliente y previa aceptación voluntaria de dicho desvío. 
Si la duración de la estancia excede del tiempo reservado, se abonará el precio del tramo que exceda lo reservado según las tarifas fijadas para el estacionamiento en el que se haya realizado la reserva. 

</p>								
					
					
					
					
					

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Dirección</h4>
					<address>
						314 Av. Arriola La Victoria
					</address>
					<h4>Phone:</h4>
					<address>
						954174703
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
