	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><%= link_to 'Home', welcome_index_path  %></li>
			<li class="active">Q&A</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
				<header class="page-header">
					<h1 class="page-title">Preguntas y respuestas frecuentes</h1>
				</header>
				
				
				<br>
				
				
				<div class="col-md-6">
       <div class="faq-grid">         
       <h5>1. Una vez hecha la reserva, mi espacio esta garantizado?</h5>
       <p>A. Si, InstaParking le garantiza que su espacio estará disponible en la fecha y hora reservada. </p>        
     </div>
     <div class="faq-grid">         
       <h5>2. Puedo cancelar mi reservación?</h5>
       <p>A. Podrá cancelar la reservación con un mínimo de 4 horas previas a la hora reservada, pasado este tiempo no podrá 

hacer la cancelación. Si ya ha realizado el pago de la reserva, el dinero será reembolsado si se encuentra dentro del lapso 

permitido.</p>        
     </div>
     <div class="faq-grid">         
       <h5>3. Puedo realizar más de una reserva en la misma fecha?</h5>
       <p>A. Si, puede realizar más de una reserva para la misma fecha y hora mientras especifique un número de placa de 

vehiculo diferente para cada reserva.</p>        
     </div>
     <div class="faq-grid">         
       <h5>4. Puedo acceder a la información de una reserva que realice en el pasado?</h5>
       <p>A. Si, InstaParking le da la posibilidad de ver su historial de reservas, incluyendo el detalle en caso esta haya 

sido cancelada. Este historial mostrará la información de las reservas realizadas en los últimos 30 días. </p>        
     </div>
     <div class="faq-grid">         
       <h5>5. Puedo realizar reservas sin registrarme como usuario?</h5>
       <p>A. Podrá ver la información de los estacionamientos que forman parte de la red de InstaParking, sin embargo para 

tener el detalle de su disponibilidad y realizar la reserva, es necesario que acceda con su cuenta. </p>        
     </div>
    </div>
    <div class="col-md-6">
       <div class="faq-grid">         
       <h5>6. Con cuanto tiempo de anticipación puedo realizar una reserva?</h5>
       <p>A. Puede realizar una reserva de un estacionamiento hasta con 48 horas de anticipación. </p>        
     </div>
     <div class="faq-grid">   <h5>7. El precio es cotizado por una tarifa por hora o una tarifa plana?</h5>
       <p>A. El precio que verá en la tarifa plana cubre el costo de la extensión de su reserva.</p>        
     </div>
     <div class="faq-grid">         
       <h5>8. Como califico el servicio brindado en cada reserva?</h5>
       <p>A. Cuando la reserva sea efectuada, tendrá la posibilidad de calificar y enviar un comentario sobre el servicio. Para ello deberá ingresar con la cuenta que realizó la reserva. </p>        
     </div>
     <div class="faq-grid">         
       <h5>9. Puedo extender el tiempo de mi reserva?</h5>
       <p>A. Si, al ingresar al aplicativo con su cuenta, tendrá la opción de ampliar el tiempo de reserva del estacionamiento.</p>        
     </div>
     <div class="faq-grid">         
       <h5>10. Puedo realizar la reserva del mismo estacionamiento para más de una fecha?</h5>
       <p>A. Si, al momento de realizar la reserva, podrá indicar la frecuencia de uso, en caso requiera tener el estacionamiento disponible en determinados días de una semana o mes. </p>         
            
     </div>
    </div>
					
					
					

			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="widget">
					<h4>Dirección</h4>
					<address>
						314 Av. Arriola La Victoria
					</address>
					<h4>Phone:</h4>
					<address>
						954174703
					</address>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
