
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
            <li><%= link_to 'Home', welcome_index_path  %></li>
			<li class="active">Nosotros</li>

		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Nosotros</h1>
				</header>
				<h3>Sobre InstaParking</h3>
				<p><img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300" > InstaParking es el proveedor por excelencia de reserva de estacionamientos a demanda. A través de InstaParking, los conductores pueden planificar sus viajes de forma más eficaz al contar con una reserva de aparcamiento de antemano. InstaParking les brinda la capacidad de buscar y reservar entre miles de opciones de aparcamiento y precios en todo el Perú. Los conductores pueden reservar fácilmente y con anticipación lugares de aparcamiento, garajes y ver los detalles de los mismos.</p>
				<h3>Nuestros clientes</h3>
				<p>El servicio de reserva de lugares de aparcamiento de InstaParking se encuentra disponible para todos los conductores dentro del Perú que requieran separar con anticipación un estacionamiento las 24 horas del día los 7 días de la semana. </p>
				<h3>Misión</h3>
				<p>Facilitar la búsqueda de lugares de aparcamiento brindando un servicio de calidad, fácil de usar y que este siempre disponible para los conductores.</p>
				<h3>Visión</h3>
				<p>Ser la empresa líder en el servicio de reserva de aparcamientos gracias a la preferencia de los  usuarios y el cumplimiento de los objetivos como corporación.</p>
				
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->
	