
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Póngase en contacto con nosotros</h5>
					<address>
					<strong>SISPARK-PERÚ Inc</strong><br>
					 Av.Nicolas Arriola 314 La Victoria</address>
					<p>
						<i class="icon-phone"></i> (001) 556-9346 - (001) 555-789 <br>
						<i class="icon-envelope-alt"></i> ventas@sisparkperu.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Paginas</h5>
					<ul class="link-list">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Terminos y condiciones</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Q&A</a></li>
						<li><a href="#">Contáctenos</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Alquiler</h5>
					<ul class="link-list">
						<li><a href="#">Mejores estacionamientos.</a></li>
						<li><a href="#">Ofertar Parking</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Sobre Nosotros</h5>
					<ul class="link-list">
						<li><%= link_to 'Terminos y condiciones', condition_index_path  %></li>
						<li><a href="#">Ofertas</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	